<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/footer.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap"
      rel="stylesheet"
    />
  </head>

  <body>
    <footer class="about-footer">
      <div class="footer">
        <div class="container">
          <div class="navbar-nav" id="link-container">
            <div class="div-url-links">
              <a class="url-links" href="/about/" style="text-decoration: none;"
                >ABOUT</a
              >
            </div>
            <div class="div-url-links">
              <a
                class="url-links"
                href="/portfolio/"
                style="text-decoration: none;"
                >PORTFOLIO</a
              >
            </div>

            <div class="div-url-links">
              <div class="top-border"></div>
              <a
                class="url-links"
                target="_blank"
                href="/media/Software_Engineer_Resume.docx"
              >
                RESUME
              </a>
            </div>

            <div class="div-url-links">
              <div class="top-border"></div>
              <a
                class="url-links"
                target="_blank"
                href="/media/Software_Engineer_Resume.docx"
              >
                CONTACT
              </a>
            </div>
          </div>
          <div class="media">
            <a
              href="https://www.linkedin.com/in/tyler-villa/"
              style="text-decoration: none;"
            >
              <div class="media-elem">
                <i class="fa fa-linkedin fa-1x" aria-hidden="true"></i>
              </div>
            </a>
            <a
              href="https://twitter.com/TylerVilla11"
              style="text-decoration: none;"
            >
              <div class="media-elem">
                <i class="fa fa-twitter" aria-hidden="true"></i>
              </div>
            </a>
            <div class="media-elem">
              <i class="fa fa-facebook" aria-hidden="true"></i>
            </div>
            <div class="media-elem">
              <i class="fa fa-github-alt" aria-hidden="true"></i>
            </div>
            <div class="media-elem">
              <i class="fa fa-instagram" aria-hidden="true"></i>
            </div>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
