<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/footer.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap"
      rel="stylesheet"
    />
  </head>

  <body>
    <footer class="about-footer">
      <div class="container" style="border: 1px solid white; height: 100%;">
        <div class="left">
          <div class="head">
            <h1>Have Any Questions For Me?</h1>
          </div>
          <h2>Here's How You Can Reach Me !</h2>
          <div class="contacts">
            <div>
              <a
                class="footer-medias"
                href="https://www.linkedin.com/in/tyler-villa/"
                ><i class="fa fa-linkedin fa-2x" aria-hidden="true"></i
              ></a>
            </div>
          </div>
        </div>
        <div class="right"></div>
      </div>
    </footer>
  </body>
</html>
