<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />

    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.11"></script>
    <script
      src="https://code.jquery.com/jquery-3.4.1.min.js"
      integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
      crossorigin="anonymous"
    ></script>
    <script type="text/javascript" src="/javascripts/starWars.js"></script>

    <title>Tyler Villa</title>
  </head>
  <header class="site-header">
    <nav
      class="navbar navbar-expand-md navbar-dark bg-steel fixed-top"
      id="nav"
    >
      <div class="container-fluid">
        <a class="navbar-brand mr-4" href="/home/"
          ><img src="https://i.imgur.com/xtfQcTZ.png" id="logo"
        /></a>
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarToggle"
          aria-controls="navbarToggle"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarToggle">
          <div class="navbar-nav mr-auto"></div>
          <!-- Navbar Right Side -->
          <div class="navbar-nav" id="div-url-links">
            <div class="div-url-links">
              <i class="fa fa-user" style="margin: 0 auto"></i>
              <a class="url-links" href="/about/">About</a>
            </div>
            <div class="div-url-links">
              <i class="fa fa-briefcase" style="margin: 0 auto"></i
              ><a class="url-links" href="">Portfolio</a>
            </div>
            <div class="div-url-links">
              <i class="fa fa-address-book" style="margin: 0 auto;"></i
              ><a class="url-links" href="">Contact</a>
            </div>
            <div class="div-url-links">
              <i class="fa fa-graduation-cap" style="margin: 0 auto;"></i
              ><a class="url-links" href="">Resume</a>
            </div>
          </div>
          <div class="navbar-nav">
            <a class="links" href=""
              ><i class="fa fa-linkedin-square w3-xxlarge"></i
            ></a>
            <a class="links" href=""
              ><i class="fa fa-twitter w3-xxlarge"></i
            ></a>
            <a class="links" href=""><i class="	fa fa-github w3-xxlarge"></i></a>
            <a class="links" href=""
              ><img
                src="https://ga-core.s3.amazonaws.com/production/uploads/program/default_image/5593/thumb_GA_COG-01.png"
                id="GA-logo"
            /></a>
          </div>
        </div>
      </div>
    </nav>
  </header>
  <body>
    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
