<%- include('./partials/header.ejs') %>
<head>
  <link rel="stylesheet" href="/stylesheets/About.css" />
</head>
<body>
  <div class="section">
    <div class="poster">
      <div class="info">
        <h1 class="info-header">About Me</h1>
        <h3 class="intro">
          I am a <span>Software Engineer</span> based in
          <span id="sf">San Franciso, California</span>
        </h3>
        <p class="abt-description">
          I am <strong class="color-span">passionate</strong> about creating
          beautiful and intriguing UIs as well as managing
          <strong class="color-span">clean</strong>, elegant, and
          <strong class="color-span">efficient</strong> code. I enjoy
          approaching and collaborating on
          <strong class="color-span">difficult challenges</strong> head on and
          preserving the <strong class="color-span">experiences</strong> that
          come with them!
        </p>
      </div>
      <div class="headshot-div">
        <img src="https://i.imgur.com/4gIMd92.jpg" alt="" />
      </div>
    </div>
    <div class="medias">
      <a
        class="media-links"
        id="linkedin"
        href="https://www.linkedin.com/in/tyler-villa/"
        ><i class="fa fa-linkedin-square w3-jumbo"></i
      ></a>
      <a
        class="media-links"
        id="twitter"
        href="https://twitter.com/TylerVilla11"
        ><i class="fa fa-twitter w3-jumbo"></i
      ></a>
      <a class="media-links" href="https://github.com/tvilla0000"
        ><i class="	fa fa-github w3-jumbo"></i
      ></a>
      <a class="media-links" href=""><i class="	fa fa-facebook w3-jumbo"></i></a>
      <a class="media-links" href=""><i class="	fa fa-envelope w3-jumbo"></i></a>
    </div>
  </div>
  <hr class="section-divide" />
  <div class="section2">
    <div class="cartoon-sec">
      <div class="cartoon-wrap">
        <div class="back-color">
          <div class="sec">
            <div class="sec-color" id="col1"></div>
            <div class="sec-color" id="col2"></div>
          </div>
          <div class="sec">
            <div class="sec-color" id="col3"></div>
            <div class="sec-color" id="col4"></div>
          </div>
        </div>
        <div class="cartoon-body"></div>
        <div class="cartoon-head">
          <div class="cartoon-headshadow"></div>
          <div class="cartoon-hair">
            <div class="cartoon-hairline" id="left-hairline"></div>
            <div class="cartoon-hairline" id="right-hairline"></div>
          </div>
          <div class="cartoon-ear" id="left-ear"></div>
          <div class="cartoon-ear" id="right-ear"></div>
          <div class="cartoon-face">
            <div class="cartoon-smile">
              <div class="cartoon-teeth"></div>
              <div class="cartoon-teeth"></div>
              <div class="cartoon-teeth"></div>
              <div class="cartoon-teeth"></div>
            </div>
            <div class="cartoon-eyeshadow" id="left-eyeshadow"></div>
            <div class="cartoon-eyeshadow" id="right-eyeshadow"></div>
            <div class="cartoon-eyebrow" id="left-eyebrow"></div>
            <div class="cartoon-eyebrow" id="right-eyebrow"></div>
            <div class="cartoon-eye" id="left-eye"></div>
            <div class="cartoon-eye" id="right-eye"></div>
            <div class="cartoon-nose"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="background">
      <div class="header">
        <h1>
          But... <span class="emphasize">Who</span> am
          <span class="emphasize">I</span
          ><span style="font-size: 55px;">?</span>
        </h1>

        <hr style="width: 80%; margin-left: 95px; height: 0px" />
      </div>
      <div class="background-info">
        <p>
          Born in the Bay Area where I was raised to create my own
          <strong class="color-span">Opportunities</strong> and live everyday to
          <strong class="color-span">Learn</strong> something new, I am someone
          who has no difficulty
          <strong class="color-span">illustrating</strong> my thought process
          and am always engaged in discussions and collaborations. I am someone
          who is <strong class="color-span">Determined</strong> to bring the
          utmost value to the table and to exceed any
          <strong class="color-span">standards </strong>placed upon me.
        </p>
      </div>
    </div>
  </div>
  <hr class="section-divide" />
  <div class="section3">
    <h1>My Skills</h1>
    <div class="skills-container">
      <div class="skills" id="skill1">
        <div id="skills-top-border"></div>
        <div id="skills-right-border"></div>
        <div id="skills-left-border"></div>
        <div id="skills-bottom-border"></div>
        <div class="skill-img">
          <img src="/media/creative-idea.svg" alt="" />
          <h2>
            Critical Thinking
            <hr />
          </h2>
        </div>
        <div class="skill-info" id="CT">
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Molestias, a
          modi blanditiis aliquam similique animi error consequatur optio ipsum
          impedit! Facilis
        </div>
      </div>
      <div class="skills" id="skill2">
        <div id="skills-top-border"></div>
        <div id="skills-right-border"></div>
        <div id="skills-left-border"></div>
        <div id="skills-bottom-border"></div>
        <div class="skill-img">
          <img src="/media/analysis.svg" alt="" id="analysis" />
          <h2>
            Critical Thinking
            <hr />
          </h2>
        </div>
        <div class="skill-info" id="CT">
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Molestias, a
          modi blanditiis aliquam similique animi error consequatur optio ipsum
          impedit! Facilis
        </div>
      </div>
      <div class="skills" id="skill3">
        <div id="skills-top-border"></div>
        <div id="skills-right-border"></div>
        <div id="skills-left-border"></div>
        <div id="skills-bottom-border"></div>
        <div class="skill-img">
          <img src="/media/meeting.svg" alt="" />
          <h2>
            Critical Thinking
            <hr />
          </h2>
        </div>
        <div class="skill-info" id="CT">
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Molestias, a
          modi blanditiis aliquam similique animi error consequatur optio ipsum
          impedit! Facilis
        </div>
      </div>
    </div>
  </div>
  <hr class="section-divide" />
  <div class="section">hello</div>
  <hr class="section-divide" />
  <div class="section">hello</div>
  <%- include('./partials/footer.ejs') %>
</body>
