<%- include('./partials/header.ejs') %>
<head>
  <link rel="stylesheet" href="/stylesheets/About.css" />
</head>
<div class="main">
  <div class="poster">
    <div class="info">
      <h1 class="info-header">Who am I?</h1>
      <h3 class="intro">
        I am a <span>Software Engineer</span> based in breezy San Franciso,
        California
      </h3>
      <p class="abt-description">
        I am <span class="color-span">passionate</span> about creating
        <span class="color-span">beautiful</span>
        and <span class="color-span">intriguing UIs</span> as well as managing
        <span class="color-span">clean</span>, elegant, and
        <span class="color-span">efficient code</span>. I enjoy approaching
        <span class="color-span">difficult challenges</span> head on and
        preserving the <span class="color-span">experiences</span> that come
        with them!
      </p>
      <div class="medias"></div>
    </div>
    <div class="headshot-div">
      <img src="https://i.imgur.com/4gIMd92.jpg" alt="" />
    </div>
  </div>
  <div class="abt-images"></div>
</div>
