<%- include('./partials/header.ejs') %>
<head>
  <link rel="stylesheet" href="/stylesheets/About.css" />
  <link
    href="https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap"
    rel="stylesheet"
  />
</head>
<body>
  <div class="section">
    <div class="poster">
      <div class="info">
        <h1 class="info-header">About Me</h1>
        <h3 class="intro">
          I am a <span>Software Engineer</span> based in
          <span id="sf">San Franciso, California</span>
        </h3>
        <p class="abt-description">
          I am <span class="color-span">passionate</span> about creating
          beautiful and intriguing UIs as well as managing
          <span class="color-span">clean</span>, elegant, and
          <span class="color-span">efficient</span> code. I enjoy collaborating
          on and approaching
          <span class="color-span">difficult challenges</span> head on and
          preserving the <span class="color-span">experiences</span> that come
          with them!
        </p>
      </div>
      <div class="headshot-div">
        <img src="https://i.imgur.com/4gIMd92.jpg" alt="" />
      </div>
    </div>
    <div class="medias">
      <a
        class="media-links"
        id="linkedin"
        href="https://www.linkedin.com/in/tyler-villa/"
        ><i class="fa fa-linkedin-square w3-jumbo"></i
      ></a>
      <a
        class="media-links"
        id="twitter"
        href="https://twitter.com/TylerVilla11"
        ><i class="fa fa-twitter w3-jumbo"></i
      ></a>
      <a class="media-links" href="https://github.com/tvilla0000"
        ><i class="fa fa-github w3-jumbo"></i
      ></a>
      <a class="media-links" href=""><i class="fa fa-facebook w3-jumbo"></i></a>
      <a class="media-links" href=""><i class="fa fa-envelope w3-jumbo"></i></a>
    </div>
  </div>
  <hr class="section-divide" />
  <div class="section2">
    <div class="cartoon-sec">
      <div class="cartoon-wrap">
        <div class="back-color">
          <div class="sec">
            <div class="sec-color" id="col1"></div>
            <div class="sec-color" id="col2"></div>
          </div>
          <div class="sec">
            <div class="sec-color" id="col3"></div>
            <div class="sec-color" id="col4"></div>
          </div>
        </div>
        <div class="cartoon-body"></div>
        <div class="cartoon-head">
          <div class="cartoon-headshadow"></div>
          <div class="cartoon-hair">
            <div class="cartoon-hairline" id="left-hairline"></div>
            <div class="cartoon-hairline" id="right-hairline"></div>
          </div>
          <div class="cartoon-ear" id="left-ear"></div>
          <div class="cartoon-ear" id="right-ear"></div>
          <div class="cartoon-face">
            <div class="cartoon-smile">
              <div class="cartoon-teeth"></div>
              <div class="cartoon-teeth"></div>
              <div class="cartoon-teeth"></div>
              <div class="cartoon-teeth"></div>
            </div>
            <div class="cartoon-eyeshadow" id="left-eyeshadow"></div>
            <div class="cartoon-eyeshadow" id="right-eyeshadow"></div>
            <div class="cartoon-eyebrow" id="left-eyebrow"></div>
            <div class="cartoon-eyebrow" id="right-eyebrow"></div>
            <div class="cartoon-eye" id="left-eye"></div>
            <div class="cartoon-eye" id="right-eye"></div>
            <div class="cartoon-nose"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="background">
      <div class="header">
        <h1>
          But... <span class="emphasize">Who</span> am
          <span class="emphasize">I</span><span style="font-size: 55px">?</span>
        </h1>

        <hr style="width: 80%; margin-left: 95px; height: 0px" />
      </div>
      <div class="background-info">
        <p>
          Born in the Bay Area where I was raised to create my own
          <span class="color-span">Opportunities</span> and live everyday to
          <span class="color-span">Learn</span> something new, I am someone who
          has no difficulty <span class="color-span">illustrating</span> my
          thought process and am always engaged in discussions and
          collaborations. I am someone who is
          <span class="color-span">Determined</span> to bring the utmost value
          to the table and to exceed any
          <span class="color-span">standards </span>placed upon me.
        </p>
      </div>
    </div>
  </div>
  <hr class="section-divide" />
  <div class="section3">
    <h1>My Skills</h1>
    <div class="skills-container">
      <div class="skills" id="skill1">
        <div id="skills-top-border"></div>
        <div id="skills-right-border"></div>
        <div id="skills-left-border"></div>
        <div id="skills-bottom-border"></div>
        <div class="skill-img">
          <img src="/media/creative-idea.svg" alt="" />
          <h2>
            Critical Thinking
            <hr />
          </h2>
        </div>
        <div class="skill-info">
          By implementing a Methodical approach, I am capable of gaining
          information in the form of asking questions and can utilize that
          information to adapt and make the decision that will result in the
          best outcome.
        </div>
      </div>
      <div class="skills" id="skill2">
        <div id="skills-top-border"></div>
        <div id="skills-right-border"></div>
        <div id="skills-left-border"></div>
        <div id="skills-bottom-border"></div>
        <div class="skill-img">
          <img src="/media/analysis.svg" alt="" id="analysis" />
          <h2>
            The Bigger Picture
            <hr />
          </h2>
        </div>
        <div class="skill-info">
          Like all good products, great code is a result of all the processes
          that come before it. I believe in creating a structure that
          incorporates strategic Planning, Designing, and Prototyping as a
          backbone to the Development process.
        </div>
      </div>
      <div class="skills" id="skill3">
        <div id="skills-top-border"></div>
        <div id="skills-right-border"></div>
        <div id="skills-left-border"></div>
        <div id="skills-bottom-border"></div>
        <div class="skill-img">
          <img src="/media/meeting.svg" alt="" />
          <h2>
            Communication
            <hr />
          </h2>
        </div>
        <div class="skill-info">
          Communication is a two-way street, and as a Software Engineer I listen
          to understand. Exceptional code can only achieve so much when there is
          no room to communicate past roadblocks and progress towards an overall
          goal.
        </div>
      </div>
    </div>
  </div>
  <hr class="section-divide" />
  <div class="section3">
    <h1 style="text-align: left; margin-left: 50px">My Experiences</h1>
    <div class="experience-container">
      <div class="xp" id="xp-1">
        <div id="skills-top-border"></div>
        <div id="skills-right-border"></div>
        <div id="skills-left-border"></div>
        <div id="skills-bottom-border"></div>
        <div class="xp-img" id="GA"></div>
        <h2 class="title">Student At GA</h2>
        <div class="h2-line"></div>
        <div class="type-list">
          <ul>
            <li>Software Engineering</li>
            <li>Networking</li>
            <li>Full stack Development</li>
          </ul>
        </div>
        <div class="text">
          <p>
            General Assembly's Software Engineering Immersive (SEI) is an
            immersive 12-week training program that provides a deep dive into
            skills required for front-end and back-end developers such as
            technical foundations, frameworks, and stacks.
          </p>
        </div>
      </div>

      <div class="xp">
        <div id="skills-top-border"></div>
        <div id="skills-right-border"></div>
        <div id="skills-left-border"></div>
        <div id="skills-bottom-border"></div>
        <div class="xp-img" id="robotics"></div>
        <h2 class="title">Robotics</h2>
        <div class="h2-line"></div>
        <div class="text">
          <p>
            Pittsburg High School Robotics prioritized Team Work and
            Collaboration to design, plan, and construct machines that could
            abide by the rules and constraints given by First Robotics
            Competition here I learned the significance of Collaboration.
          </p>
        </div>
        <div class="type-list">
          <ul>
            <li>Collaboration</li>
            <li>Programming</li>
            <li>Mechanical Engineering</li>
            <li>Design</li>
          </ul>
        </div>
      </div>

      <div class="xp">
        <div id="skills-top-border"></div>
        <div id="skills-right-border"></div>
        <div id="skills-left-border"></div>
        <div id="skills-bottom-border"></div>
        <div class="xp-img" id="FRC"></div>
        <h2 class="title">FRC</h2>
        <div class="h2-line"></div>
        <div class="type-list">
          <ul>
            <li>Collaboration</li>
            <li>Networking</li>
            <li>type</li>
          </ul>
        </div>
        <div class="text">
          <p>
            First Robotics Competition is a series of international Tournaments
            that challenges its participants to construct and program
            industrial-sized robots using limited resources that follow design
            constraints as well as raise funds and design a team Brand.
          </p>
        </div>
      </div>
    </div>
  </div>
  <br />
  <%- include('./partials/footer.ejs') %>
</body>
