<%- include('./partials/header.ejs') %>
<head>

</head>
  <body>
    <div  id="hero">
      <div class="main">
        <div class="description">
          <div style="height: 50%">
            <img src="https://i.imgur.com/yRmibPZ.jpg" id="hero-img" />
          </div>
          <div id="hero-description">
            <h1 >Who Is This fella'?</h1><hr style="width: 25vw; margin-left: 1.5vw; height: 5px; border-color: #00adb5;"> 
            <div style="margin-top: 8vh; position: absolute; left: 50px;">
                <div id="typed-strings" style="font-size: 100px; text-align: left;"> 
                  <p>
                    <span style="font-size: 5vh;">Hello there! My Name is</span>
                    <strong style="color: #00adb5; font-size: 5vh;">Tyler Villa</strong><span style="font-size: 5vh;">.</span><br>
                    <span style="font-size: 5vh;text-align: left;">I enjoy taking on complex problems     <br>and finding creative ways to solve <br>them. ^800 
                    </p>
                    <p><span style="font-size: 5vh;">^1000I am <strong style="color:#00adb5">passionate</strong> about creating beautiful <br>and intriguing UIs as well as managing <br>clean, elegant, and efficient code. ^800 </span> </p>
                    <p>
                      <span style="font-size: 6vh;">I am a <strong style="color: #00adb5; font-size: 6vh"> Creator</strong>.</span>
                    </p>
                    <p><span style="font-size: 6vh;">I am a <strong style="color: #00adb5; font-size: 6vh">Code Enthusiast</strong>.</span></p>
                    <p><span style="font-size: 6vh;">I am a ^80 <strong style="color: #00adb5; font-size: 6vh">Software Engineer</strong>.</span></p>
                </div>
                <span id="typed"></span>
              </div>
          </div>
        </div>
            <div id="skills" style="text-align: center;">
              <h1 style="color: #00adb5"> Proficient in: </h1><hr style="width: 40vw;margin-left: 5vw; border: .5px solid #00adb5;">
              <div id="skills-container">
                <div class="skill" id="python">
                  <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c3/Python-logo-notext.svg/1024px-Python-logo-notext.svg.png" alt="Python Logo" class="Skills-logos">
                  <h3 >Python 3</h3>
                </div>
                <div class="skill" id="javascript">
                  <img src="https://www.geekstrick.com/wp-content/themes/geekstrick/assets/icons/javascript.svg" alt="Javascript Logo" class="Skills-logos">
                  <h3 >Javascript</h3>
                </div>
                <div class="skill" id="nodejs">
                  <img src="https://cdn.worldvectorlogo.com/logos/nodejs-icon.svg" alt="Python Logo" class="Skills-logos"  style="margin-left: 2.5vh">
                  <h3>Express/<br>Node JS</h3>
                </div>
                <div class="skill" id="react">
                  <img src="http://maxehnert.com/app/images/react.svg" alt="React Logo" class="Skills-logos" style="margin-left: .5vh">
                  <h3>React</h3>
                </div>
              </div>
              <div id="skills-container2" >

                <div class="skill" id="django" style="margin: 0 15px 0 15px">
                    <img src="https://cdn.freebiesupply.com/logos/large/2x/django-logo-png-transparent.png" alt="Python Logo" class="Skills-logos">
                    <h3>Django</h3>
                </div>

                <div class="skill" id="mongodb" style="margin: 0 15px 0 15px">
                    <img src="https://cdn.iconscout.com/icon/free/png-256/mongodb-4-1175139.png" alt="Python Logo" class="Skills-logos" >
                    <h3>MongoDB</h3>
                </div>
                <div class="skill" id="postgres" style="margin: 0 15px 0 15px">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/2/29/Postgresql_elephant.svg" alt="Python Logo" class="Skills-logos">
                    <h3 id="postgres-text">PostgreSQL</h3>
                </div>
              </div>
              <a href="/portfolio/"><button id="to-portfolio">View Projects<i
                class="fa fa-arrow-right"
                aria-hidden="true"
                style="margin-left: 10px; color: #00fff5"
              ></i></button></a>
            </div>
            </div>
      </div>
    </div>
    <div id="projects">projects</div>
    <script type="text/javascript">
      var typed = new Typed("#typed", {
        stringsElement: "#typed-strings",
        typeSpeed: 60,
        backSpeed: 40,
        startDelay: 1750,
        showCursor: true,
        cursorChar: '|',
        autoInsertCss: true,
        fadeOut: false,
        fadeOutClass: 'typed-fade-out',
        fadeOutDelay: 500,
      });

      
    </script>
  </body>
</html>
