/*--- Direct Element Changes ---*/
.section {
  margin: 12vh 12.5% 0 12.5%;
  height: 88vh;
  width: 75%;
  /* border: 2px solid white; */
  display: flex;
  flex-direction: column;
}

.section2 {
  margin: 2vh 12.5% 0 10%;
  width: 80%;
  height: 75vh;
  /* border: 1px solid white; */
  display: flex;
  position: relative;
}

.section3 {
  margin: 2vh 12.5% 0 5%;
  width: 90%;
  height: 81vh;
  /* border: 1px solid white; */
}

.skills-container {
  /* border: 2px solid white; */
  display: flex;
  justify-content: space-evenly;
  height: 83%;
  margin-top: 2.75vh;
}

.poster {
  /* border: 2px solid white; */
  height: 80%;
  width: 100%;
  display: flex;
}
.cartoon-sec {
  /* border: 1px solid white; */
  width: 50%;
  height: 100%;
}

.cartoon-wrap {
  width: 450px;
  height: 450px;
  margin-top: 60px;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
  background: radial-gradient(#00fdfd, black);
}

.cartoon-body {
  position: absolute;
  height: 40vh;
  width: 20vw;
  background: rgb(19, 19, 19);
  left: 18%;
  top: 250px;
  border-radius: 80px;
}

.cartoon-head {
  position: absolute;
  width: 14vw;
  height: 32vh;
  left: 27.5%;
  top: 80px;
  background: rgb(235, 195, 135);
  border-radius: 100px;
  animation: head-tilt 3s 2s, headTiltBack 2s 10s, headTiltLeft 3s 20s,
    headTiltBackLeft 2s 40s;
  animation-fill-mode: forwards;
}

.background {
  width: 50%;
  height: 100%;
}

.header {
  width: 100%;
  height: 18%;
  /* border: 1px solid white; */
}

.header h1 {
  text-align: right;
  font-size: 45px;
  color: rgb(151, 151, 151);
  margin-right: 18px;
}

.skills:hover #skills-top-border {
  width: 100%;
  transition: 1s;
}

.skills:hover #skills-left-border {
  height: 100%;
  transition: 1s;
}

.skills:hover #skills-right-border {
  height: 100%;
  transition: 1s;
}

.skills:hover #skills-bottom-border {
  transition-delay: 1s;
  transition: 1s;
  width: 100%;
}

.skills::before {
  content: "";
  width: 100%;
  height: 30%;
  background: rgb(17, 17, 17);
  border-bottom: 0.25px solid #04f2ff;
  opacity: 0;
  transition: 1s;
}

.skills:hover::before {
  transition: 1s;
  opacity: 1;
}

.skills:hover .skill-img {
  top: 15%;
  opacity: 1;
  transition: 0.75s;
}

.skills:hover .skill-img h2 {
  color: #04f2ff;
}

.skills:hover .skill-img h2 hr {
  opacity: 1;
  transform: translateX(0px);
  transition: 1s;
  transition-delay: 0.25s;
  z-index: 1;
}

.skill-img h2 hr {
  opacity: 0;
  transform: translateX(-100px);
  transition: 0.25s;
  border: 0.25px solid rgb(128, 127, 127);
}

.skill-info {
  width: 100%;
  height: 47%;
  padding: 10px;
  position: absolute;
  line-height: 40px;
  left: 0;
  font-size: 20px;
  bottom: 0px;
  opacity: 0;
  transform: translateY(50px);
  transition: 0.75s;
  visibility: hidden;
}

.skills:hover .skill-info {
  transform: translateY(0px);
  opacity: 1;
  transition: 1.5s;
  visibility: visible;
}

.skills:hover {
  border-color: #04f2ff;
  transition: 1s;
}

.emphasize {
  color: #04f2ff;
  font-size: 55px;
}

.background-info {
  height: 82%;
  width: 100%;
  /* border: 1px solid white; */
}

.background-info p {
  font-size: 20px;
  line-height: 45px;
  padding: 0 18px;
  text-align: right;
}

.cartoon-face {
  position: absolute;
  position: relative;
  width: 13vw;
  height: 22vh;
  background: rgb(235, 195, 135);
  left: 7px;
  top: 15px;
  border-radius: 35px;
}

.cartoon-ear {
  position: absolute;
  width: 12px;
  height: 25px;
  background: rgb(235, 195, 135);
}

#left-ear {
  left: -14px;
  top: 113.25px;
  border-bottom-left-radius: 10px;
}

#right-ear {
  right: -15px;
  top: 113.25px;
  border-bottom-right-radius: 10px;
  border-top-left-radius: 1px;
}

.cartoon-hair {
  position: absolute;
  top: -30px;
  right: -15px;
  width: 16vw;
  height: 22vh;
  border-top-left-radius: 45px;
  border-top-right-radius: 45px;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  background: black;
}

.cartoon-eyebrow {
  position: absolute;
  width: 3.75vw;
  height: 2vh;
  background: black;
  animation: eyebrow-raise 2s 6.6s infinite alternate ease-in-out;
}

#left-eyebrow {
  left: 20px;
  top: 40px;
}

#right-eyebrow {
  right: 20px;
  top: 40px;
  transform: rotate(6deg);
  /* transform: rotate(6deg); */
}

.cartoon-hairline {
  position: absolute;
  width: 40px;
  height: 40px;
  background: black;
  z-index: 1;
}

#left-hairline {
  left: 2px;
  top: 40px;
  border-bottom-right-radius: 6px;
}

#right-hairline {
  right: 2px;
  top: 40px;
  border-bottom-left-radius: 4px;
}

.cartoon-eye {
  position: absolute;
  width: 22px;
  height: 38px;
  background: rgb(167, 127, 97);
  animation: blink 3s 2.2s infinite linear;
  animation-fill-mode: forwards;
}

#left-eye {
  left: 38px;
  top: 65px;
  border-radius: 65px;
}

#right-eye {
  right: 38px;
  top: 65px;
  border-radius: 65px;
}

.cartoon-eyeshadow {
  position: absolute;
  height: 15px;
  width: 30px;
  border-radius: 0 0 90px 90px;
  background: rgba(3, 3, 3, 0.103);
  z-index: 0;
}

#left-eyeshadow {
  top: 94px;
  left: 34px;
}

#right-eyeshadow {
  top: 94px;
  right: 34px;
}

.cartoon-smile {
  position: absolute;
  height: 35px;
  width: 80px;
  border-radius: 0 0 90px 90px;
  background: rgb(255, 255, 255);
  left: 29%;
  top: 100%;
  display: flex;
  overflow: hidden;
}

.cartoon-teeth {
  height: 100%;
  width: 25%;
  border-right: 0.5px solid black;
}

.cartoon-nose {
  position: absolute;
  height: 35px;
  width: 35px;
  border-radius: 90px 90px 0 0;
  background: rgb(235, 195, 135);
  left: 41%;
  top: 64%;
  z-index: 2;
}

.cartoon-headshadow {
  position: absolute;
  width: 50%;
  height: 100%;
  background: rgba(3, 3, 3, 0.062);
  left: 0px;
  z-index: 2;
  border-bottom-left-radius: 100px;
}

.skill-img img {
  width: 80px;
  height: 80px;
  margin: 5px 0 0 12px;
}

.section3 h1 {
  /* border: 1px solid white; */
  height: 12%;
  font-size: 55px;
  text-align: center;
  color: #04f2ff;
}

.skills {
  /* border: 1px solid rgb(88, 88, 88); */
  width: 28%;
  height: 100%;
  display: flex;
  justify-content: center;
  position: relative;
  background: rgb(3, 3, 3);
  overflow: hidden;
  border-top: 0.25px solid #04f2ff;
  border-top-width: 0px;
}

#skills-top-border {
  position: absolute;
  height: 0.25px;
  width: 0;
  left: 0;
  top: 0;
  background: #04f2ff;
  transition: 1s;
}

#skills-left-border {
  position: absolute;
  height: 0;
  width: 1px;
  top: 0;
  left: 0;
  background: #04f2ff;
  transition: 1s;
}

#skills-right-border {
  position: absolute;
  height: 0;
  width: 1px;
  bottom: 0;
  right: 0;
  background: #04f2ff;
  transition: 1s;
}

#skills-bottom-border {
  position: absolute;
  height: 1px;
  width: 0;
  right: 0;
  bottom: 0;
  background: #04f2ff;
  transition: 1s;
}

.skill-img {
  position: absolute;
  height: 120px;
  width: 120px;
  border-radius: 50%;
  padding: 10px;
  top: 30%;
  background: rgb(255, 255, 255);
  transition: 1s;
  opacity: 0.25;
}

.skill-img h2 {
  width: 300px;
  color: rgb(255, 255, 255);
  margin-left: -100px;
  margin-top: 25px;
  text-align: center;
  transition: 1s;
}

/* 
.list {
  width: 120px;
  height: 120px;
  line-height: 150px;
  border-radius: 50%;
  background: white;
  position: relative;
  text-align: center;
  margin: 190px auto;
  font-size: 1.75em;
  color: #04f2ff;
  transition: 0.24s 0.2s;
}

.list .menu {
  list-style: none;
  padding: 0;
  margin: 0;
  position: absolute;
  top: -75px;
  left: -75%;
  border: 150px solid transparent;
  border-radius: 50%;
  transform: scale(0);
  transition: transform 1.4s 0.07s;
  z-index: -1;
}

.skills:hover .menu {
  transition: transform 0.4s 0.08s, z-index 0s 0.5s;
  transform: scale(1);
  z-index: 1;
}

.list .menu li {
  position: absolute;
  top: -250px;
  left: -200px;
  transform-origin: 160px 160px;
  transition: all 0.5s 0.1s;
} */

/* .menu li img {
  transition: ;
} */

/* .skills:hover .menu li {
  transition: all 0.7s;
}

.list .menu li img {
  width: 75px;
  height: 75px;
  line-height: 45px;
  border-radius: 50%;
  background: white;
  position: absolute;
  font-size: 59%;
  color: #04f2ff;
  transition: 0.7s;
}

.skills:hover .menu li:nth-child(1) {
  transition-delay: 0.02s;
  transform: rotate(58deg);
}

.skills:hover .menu li:nth-child(1) img {
  transition-delay: 0.04s;
  transform: rotate(662deg);
}

.skills:hover .menu li:nth-child(2) {
  transition-delay: 0.08s;
  top: -315px;
  left: -160px;
  transform: rotate(116deg);
}

.skills:hover .menu li:nth-child(2) img {
  transition-delay: 0.16s;
  transform: rotate(605deg);
} */

.info {
  /* border: 1px dotted white; */
  width: 50%;
  padding: 40px 20px 0 20px;
  animation: fadeInAndSlideRight 2s ease;
}

.info-header {
  font-size: 55px;
  font-weight: 800;
  color: #04f2ff;
}

.intro {
  font-size: 32px;
  margin: 20px 0 0 0;
  color: rgb(151, 151, 151);
  font-weight: 100;
}

.abt-description {
  font-size: 20px;
  font-weight: 500;
  margin-top: 25px;
  line-height: 50px;
}

.headshot-div {
  width: 50%;
  margin-top: 10px;
  margin-left: 40px;
}

.color-span {
  color: #03cfda;
  font-size: 28px;
  font-weight: 800;
}

.headshot-div img {
  width: 24vw;
  height: 100%;
  margin-left: 90px;
  border-radius: 5px;
  animation: fadeInAndSlideLeft 2s ease;
}

.medias {
  display: flex;
  justify-content: space-around;
  height: 20%;
  background: black;
  animation: slideInFromBottom 2s;
}

.media-links {
  margin: 30px 75px;
}

.medias i {
  color: rgb(85, 85, 85);
}

.media-links:nth-child(1):hover i {
  color: #2867b2;
  transform: scale(1.25);
}

.section-divide {
  border: 1px solid rgb(85, 85, 85);
}

#linkedin::before {
  content: "";
  position: absolute;
  background: white;
  width: 50px;
  height: 50px;
  left: 2px;
  top: 7px;
  border-radius: 4px;
  z-index: -1;
  opacity: 0;
  transition: 1s;
}

#linkedin:hover::before {
  opacity: 1;
  transition: 1s;
}

.media-links:nth-child(1):hover::before {
  opacity: 1;
  transition: 1s;
}

.media-links:nth-child(1) {
  position: relative;
  z-index: 2;
  transition: 1s;
}

.media-links:nth-child(2):hover i {
  color: rgb(105, 173, 233);
  transform: scale(1.25);
}

.media-links:nth-child(3):hover i {
  color: black;
}

.media-links:nth-child(3) {
  position: relative;
  z-index: 2;
  transition: 1s;
}

.media-links:nth-child(3)::before {
  content: "";
  position: absolute;
  background: white;
  left: -2px;
  top: 3px;
  border-radius: 50%;
  z-index: -1;
  opacity: 0;
  transition: 1s;
}

.media-links:nth-child(3):hover::before {
  opacity: 1;
  width: 60px;
  height: 60px;
  transition: 1s;
}

.media-links:nth-child(3):hover i {
  transform: scale(1.25);
}

.media-links:nth-child(4):hover i {
  color: white;
  transform: scale(1.25);
}

.media-links:nth-child(4):hover::before {
  transform: scale(1.25);
}

.media-links:nth-child(4) {
  position: relative;
  z-index: 2;
}

.media-links:nth-child(4)::before {
  content: "";
  width: 70px;
  height: 70px;
  left: -46%;
  bottom: 15%;
  background: #4267b2;
  position: absolute;
  border-radius: 50%;
  z-index: -1;
  opacity: 0;
  transition: 1s;
}

.media-links:nth-child(4):hover::before {
  opacity: 1;
  transition: 1s;
}

.media-links:nth-child(5)::before {
  content: "";
  position: absolute;
  background: rgb(197, 80, 64);
  width: 72px;
  height: 50.75px;
  left: -4px;
  top: 10px;
  border-radius: 4px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  z-index: -1;
  opacity: 0;
  transition: 0.75s;
}

.media-links:nth-child(5) {
  z-index: 2;
  position: relative;
}

.media-links:nth-child(5):hover i {
  color: rgb(226, 227, 227);
  transform: scale(1.25);
  transition: 0.75s;
}

.media-links:nth-child(5):hover::before {
  opacity: 1;
  transform: scale(1.25);
}

.background-info p {
  line-height: 55px;
  margin-top: 25px;
}

@keyframes slideInFromBottom {
  0% {
    transform: translateY(100%);
    opacity: -1;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fadeInAndSlideRight {
  0% {
    opacity: -1;
    transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeInAndSlideLeft {
  0% {
    opacity: -1;
    transform: translateX(100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes blink {
  0% {
    transform: scaleY(1) translateY(0px) translateZ(0);
  }
  45% {
    transform: scaleY(1) translateY(0px) translateZ(0);
  }
  50% {
    transform: scaleY(0.1) translateZ(0);
  }
  55% {
    transform: scaleY(1) translateY(0px) translateZ(0);
  }
  100% {
    transform: scaleY(1) translateY(0px) translateZ(0);
  }
}

@keyframes grow {
  0% {
    position: absolute;

    transform: scale(0) translateZ(0);
  }
  60% {
    transform: scale(1.15) translateZ(0);
  }
  80% {
    transform: scale(0.95) translateZ(0);
  }
  100% {
    transform: scale(1) translateZ(0);
  }
}

@keyframes eyebrow-raise {
  0% {
    top: 35px;
  }
  80% {
    top: 35px;
  }
  100% {
    top: 40px;
  }
}

@keyframes head-tilt {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(8deg);
  }
}

@keyframes headTiltBack {
  0% {
    transform: rotate(8deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@keyframes headTiltBackLeft {
  0% {
    transform: rotate(-8deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@keyframes headTiltLeft {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(-8deg);
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
