.about-footer {
  height: 14vh;
  width: 100%;
  background-color: rgb(24, 24, 24);
  border-top: 0.5px solid #04f2ff;
}

.footer {
  height: 100%;
}

.container {
  height: 100%;
  display: flex;
  /* border: 1px solid white; */
  flex-direction: row;
}

#link-container {
  height: 5vh;
  width: 38vw;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin: 32px 0;
  top: 35%;
}

.link-list li {
  list-style: none;
}

#link-container > .div-url-links:hover .url-links {
  text-decoration: none;
  color: #04f2ff;
  transition: 1s;
}

.media {
  /* border: 1px solid white; */
  margin: 12px 0 0 10px;
  height: 10vh;
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.media-elem {
  width: 60px;
  height: 60px;
  /* border: 0.5px solid #04f2ff; */
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
}

.media-elem i {
  transform: scale(1.5);
  color: #04f2ff;
}

.media-elem:hover:first-child {
  background: #2867b2;
  border: 1px solid white;
  transition: 0.75s;
}

.media-elem:hover:first-child i {
  color: white;
}

.media-elem:hover:nth-child(2) {
  background: rgb(105, 173, 233);
  border: 1px solid white;
  transition: 0.75s;
}

.media-elem:hover:nth-child(2) i {
  color: white;
}

.media-elem:hover:nth-child(3) {
  background: rgb(72, 104, 172);
  border: 1px solid white;
  transition: 0.75s;
}

.media-elem:hover:nth-child(3) i {
  color: white;
}

.media-elem:hover:nth-child(4) {
  background: black;
  border: 1px solid white;
  transition: 1s;
}

.media-elem:hover:nth-child(4) i {
  color: white;
}

.media-elem:nth-child(5)::before {
  content: "";
  height: 100%;
  width: 100%;
  z-index: 0;
  position: absolute;
  background: radial-gradient(
    circle at 30% 107%,
    #fdf497 0%,
    #fdf497 5%,
    #fd5949 45%,
    #d6249f 60%,
    #285aeb 90%
  );
  border-radius: 50%;
  opacity: 0;
  transition: 0.5s;
}

.media-elem:nth-child(5) {
  position: relative;
}

.media-elem:hover:nth-child(5) {
  transition: 0.75s;
  border: 1px solid white;
}

.media-elem.media-elem:hover:nth-child(5)::before {
  opacity: 1;
  transition: 0.75s;
}

.media-elem:hover:nth-child(5) i {
  color: white;
}
