body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  font-size: 18px;
  color: white;
}

a {
  color: white;
}

@keyframes slideInFromTop {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

#nav {
  background-color: rgb(17, 17, 17);
  height: 12vh;
  animation: 0.75s ease-out 0s 1 slideInFromTop;
}

.links {
  margin: 0 10px;
}

.url-links {
  margin: 0 10px;
}

#div-url-links {
  margin-right: 50px;
}

.url-links:hover {
  text-decoration: none;
  color: rgb(130, 130, 130);
  transition: 0.5s;
}

.links:hover {
  color: rgb(130, 130, 130);
  transition: 0.5s;
}

#logo {
  width: 4.5vw;
  height: 8vh;
  border-radius: 50%;
}

.bgimage {
  width: 100%;
  height: 500px;
  background: url("https://images.unsplash.com/photo-1438109491414-7198515b166b?q=80&fm=jpg&s=cbdabf7a79c087a0b060670a6d79726c");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}
.bgimage h5 {
  color: white;
  text-shadow: 2px 2px #333;
}

.main-content {
  overflow: hidden;
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;

  height: 100vh;

  background: linear-gradient(
    to right,
    rgba(36, 31, 31, 1) 0%,
    rgba(36, 31, 31, 1) 32%,
    rgba(74, 71, 70, 1) 100%
  );
  color: #fff;
  text-align: center;
}

#landing-page {
  background-color: black;
  position: fixed;
  margin-left: -4vw;
  margin-top: -5vh;
}

.welcome {
  position: absolute;
  width: 40vw;
  left: 32%;
  top: 30%;
  background-color: rgba(60, 60, 60, 0);
  text-align: center;
  padding: 10px;
  color: gray;
  transition: transform 1s ease;
}

.welcome:hover {
  color: White;
  transition: 1s;
  transform: scale(1.5);
}

.welcome:hover > #welcome-header > #Name {
  color: #fff;
  font-size: 40px;
  font-weight: 700;
  background: linear-gradient(
    to right,
    green 10%,
    white 40%,
    white 40%,
    red 60%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 1.5s linear infinite;
  display: inline-block;
}

.welcome:hover > #welcome-header > #js {
  color: #fff;
  font-size: 40px;
  font-weight: 700;
  background: linear-gradient(
    to right,
    rgb(238, 218, 104) 50%,
    rgb(50, 51, 48) 50%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 1.5s linear infinite;
  display: inline-block;
}
.welcome:hover > #welcome-header > #python {
  color: #fff;
  font-size: 40px;
  font-weight: 700;
  background: linear-gradient(
    to right,
    rgb(89, 139, 186) 40%,
    rgb(61, 105, 148) 30%,
    rgb(253, 232, 133) 60%,
    rgb(250, 212, 91) 40%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 1.5s linear infinite;
  display: inline-block;
}

.welcome:hover > a > #to-home {
  cursor: pointer;
}

#to-home {
  padding: 12px;
  height: 8vh;
  width: 13vw;
  font-size: 20px;
  background-color: rgba(0, 0, 0, 0);
  color: gray;
}

#to-home:hover {
  border-color: rgb(223, 178, 64);
  transform: scale(1.25);
  border-radius: 5px;
  transition: 0.75s;
  color: rgb(223, 178, 64);
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}
