body {
  font: 14px "Roboto mono", Helvetica, Arial, sans-serif;
  font-size: 18px;
  color: white;
  background: black;
}

a {
  color: white;
}

i {
  color: rgb(198, 198, 198);
  transition: 0.75s;
}

nav {
  border-bottom: 2px solid #00fff5;
}

@keyframes slideInFromTop {
  0% {
    transform: translateY(-100%);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes bop {
  0% {
    transform: scaleY(1);
    transform: scaleX(1);
    color: rgb(198, 198, 198);
  }
  50% {
    transform: scaleY(3);
    transform: scaleX(1.1);
    color: white;
  }
  100% {
    transform: scaleY(1);
    transform: scaleX(1);
    color: rgb(198, 198, 198);
  }
}

@keyframes bop_skills {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.25);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes stretch {
  0% {
    transform: scaleX(1.5);
  }
  25% {
    transform: scaleX(2);
  }

  100% {
    transform: scaleX(1);
  }
}

#nav {
  background-color: rgb(17, 17, 17);
  height: 12vh;
  animation: 0.75s ease-out 0s 1 slideInFromTop;
}

.links {
  margin: 0 10px;
  color: rgb(199, 199, 199);
}

.url-links {
  margin: 0 10px;
  color: rgb(198, 198, 198);
}

#div-url-links {
  margin-right: 50px;
}

#div-url-links > .div-url-links:hover {
  transition: 0.5s;
  animation: bop 1s linear infinite;
}

.url-links:hover {
  text-decoration: none;
  color: white;
}

.links:hover {
  color: white;
  transition: 0.5s;
  animation: bop 1s linear infinite;
}

#logo {
  width: 4.5vw;
  height: 8vh;
  border-radius: 50%;
}

#GA-logo:hover:after {
  background-color: white;
}

#GA-logo {
  width: 3vw;
  height: 6vh;
  margin-top: -4px;
}

#landing-page {
  background-color: black;
  position: fixed;
  margin-left: -4vw;
  margin-top: -5vh;
}

.welcome {
  position: absolute;
  width: 40vw;
  left: 34%;
  top: 30%;
  background-color: rgba(60, 60, 60, 0);
  text-align: center;
  padding: 10px;
  color: gray;
  transition: transform 1s ease;
}

.welcome:hover {
  color: White;
  transition: 1s;
  transform: scale(1.5);
}

.welcome:hover > #welcome-header > #Name {
  color: #fff;
  font-size: 40px;
  font-weight: 700;
  background: linear-gradient(
    to right,
    green 10%,
    white 40%,
    white 40%,
    red 60%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 1.5s linear infinite;
  display: inline-block;
}

.welcome:hover > #welcome-header > #js {
  color: #fff;
  font-size: 40px;
  font-weight: 700;
  background: linear-gradient(
    to right,
    rgb(238, 218, 104) 50%,
    rgb(50, 51, 48) 50%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 1.5s linear infinite;
  display: inline-block;
}
.welcome:hover > #welcome-header > #python {
  color: #fff;
  font-size: 40px;
  font-weight: 700;
  background: linear-gradient(
    to right,
    rgb(89, 139, 186) 40%,
    rgb(61, 105, 148) 30%,
    rgb(253, 232, 133) 60%,
    rgb(250, 212, 91) 40%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 1.5s linear infinite;
  display: inline-block;
}

.welcome:hover > a > #to-home {
  cursor: pointer;
  visibility: visible;
  animation: slideInFromLeft 1s;
}

#to-home {
  padding: 12px;
  height: 8vh;
  width: 13vw;
  font-size: 20px;
  background-color: rgba(0, 0, 0, 0);
  color: gray;
  visibility: hidden;
  transition: 0.75s ease;
}

#to-home:hover {
  border-color: rgb(223, 178, 64);
  transform: scale(1.25);
  border-radius: 5px;
  transition: 0.75s;
  color: rgb(223, 178, 64);
}

#to-home:hover > i {
  color: rgb(223, 178, 64);
  transition: 0.75s;
}

.div-url-links {
  display: flex;
  flex-direction: column;
}

#hero {
  margin-top: 12vh;
  height: 88vh;
  display: flex;
  background: white;
}

#hero-img {
  width: 18vw;
  height: 36vh;
  border-radius: 50%;
  border: 3px solid #00fff5;
  margin-top: 5vh;
}

#skills-container {
  display: inline-flex;
  flex-direction: row;
  padding: 10px;
  width: 100%;
  height: 25vh;
  color: #00fff5;
  margin-top: 14vh;
  justify-content: space-around;
}

#skills-container2 {
  display: inline-flex;
  flex-direction: row;
  padding: 10px;
  width: 100%;
  height: 25vh;
  color: #00fff5;
  justify-content: center;
  align-items: center;
}

.Skills-logos {
  width: 5vw;
  height: 8vh;
}

.skill:hover {
  transform: scale(1.5);
  transition: 0.75s ease-in;
}

.skill {
  height: 18vh;
  width: 11vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
  transition: 0.75s ease-out;
}

#python {
  animation: slideInFromRight_python 3s ease-out;
  transition: 0.75s ease-out;
}

#javascript {
  animation: slideInFromRight_javascript 3.5s ease-out;
  /* animation-delay: 1s; */
}

#skills {
  width: 50%;
  height: 100%;
  border: 2px solid white;
  animation: slideInFromRight 1.5s;
}

.description {
  display: flex;
  width: 50%;
  /* border: 2px solid white; */
  height: 100%;
  padding: 15px 0 0 50px;
  animation: slideInFromLeft 1.5s;
}

#hero-description {
  width: 30vw;
  height: 50%;
  text-align: center;
}

#hero-description h1 {
  margin-top: 22vh;
  font-size: 45px;
}

#projects {
  width: 100%;
  height: 50vh;
}

#projects > h1::before {
  content: "";
  width: 40px;
}

.main {
  width: 100%;
  height: 100%;
  border: 2px solid black;
  display: flex;
  background: black;
  position: relative;
}

@keyframes slideInFromRight {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes slideInFromRight_python {
  0% {
    transform: translateX(1000%);
  }
  50% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes slideInFromRight_javascript {
  0% {
    transform: translateX(900%);
  }
  50% {
    transform: translateX(-25%);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes slideInFromRight_nodejs {
  0% {
    transform: translateX(800%);
  }

  100% {
    transform: translateX(0);
  }
}
@keyframes slideInFromRight_react {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(0);
  }
}
@keyframes slideInFromRight_Django {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(0);
  }
}
@keyframes slideInFromRight_postgres {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(0);
  }
}
@keyframes slideInFromRight_mongodb {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}
